body {
  background-color: #ddd;
  color: #333;
  font: 16px arial; }

article {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px; }
  article h2 {
    color: #f00; }
    article h2.votar {
      display: none; }
