doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Ejercicio2
		style.
			div {
				border: 1px solid black;
				display: block;
				height: 80px;
				margin-bottom: 5px;
			}
	body
		h1 Ejercicio2
		hr

		-for  ( var i =10; i>= 1; i--)
			div(style='background-color: rgb(' +  i*25 +','+  i*25+', 255)')
		


