doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title ejercicio 4
	body
		h1 ejercicio 4
		hr
		-var persona = {edad: 18, genero:'femenino'}
		article
			if(persona.edad >= 18 && persona.genero == 'masculino')
				h2 Usted puede ir a la guerra
			else
				h2 Usted no puede ir a la guerra


			
		


