doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Documento HTML 5
	body
		h1 Documento HTML 5
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui temporibus aliquid dignissimos dolor aut at, libero est obcaecati atque culpa, sequi reiciendis nostrum cumque magnam nulla in molestias nesciunt illo?
