doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Estilos literales (Clases/ID)
	body
		h1 Estilos literales (Clases/ID)
		hr
		//- Clases Literales
		section.first.wide.green
			.small.black
		//- Id Literales
		section#sec01
			#subsec01.small
