doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title comentarios
	body
		h1 comentarios
		hr
		// comentario de linea(se ve en el marcado)
		br
		//- comentario de linea(no se ve en el marcado)
		//
			comentario de bloque (se ve en el marcado)
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequatur inventore repellendus optio consequuntur in perspiciatis eos, quo hic, dolore adipisci quam tenetur, cum vel aliquid doloribus dicta. Culpa, omnis.

		//-
			comentario de bloque (no se ve en el marcado)
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ad non odio suscipit magnam neque omnis temporibus iure praesentium, enim vero voluptas, mollitia similique quam quasi maxime vitae nesciunt cumque.