doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title tipos de documentos
	body
		h1 tipos de documentos
		hr
		// html 5
		|
		doctype html
		|
		|
		// html xml 
		|
		doctype xml 
		|
		|
		// html transitional
		|
		doctype transitional
