doctype
html(lang='es')
	include includes/header.pug
	body
		h1 iNSERTAR CODIGO PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt. Voluptate ex blanditiis debitis aliquam, eum, voluptas labore assumenda fugiat consectetur aperiam exercitationem tempora ad architecto, nihil veritatis repellat deleniti.
		include includes/footer.pug

