doctype
html
	head
		meta(charset='utf-8')
		block title
			title Titulo por defecto
	body
		block article
			article
				h1 encabezado por defecto
				p texto por defecto

		block scripts
			script(src='jquery.js')
				